
<section class="h-50 bg-dark">
  <div class="container py-5 h-50">
    <div class="row d-flex justify-content-center align-items-center h-60">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-5 d-none d-xl-block">
              <img src="https://images.pexels.com/photos/2878707/pexels-photo-2878707.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-4 text-black">
                <h3 class="mb-4 text-uppercase">Student registration form</h3>
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                   <%= render "devise/shared/error_messages", resource: resource %>
                
                  <div class="form-outline mb-4">
                  <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "form-control ", id: "form3Example1m" %>
                      <label class="form-label" for="form3Example1m"><%= f.label :name %></label>
                </div>

                <div class="form-outline mb-4">
                  <%= f.text_field :email, autofocus: true, autocomplete: "email",class: "form-control ", id: "form3Example1m" %>
                      <label class="form-label" for="form3Example1m"><%= f.label :Email %></label>
                </div>

                 <div class="form-outline mb-4">
                  <%= f.phone_field :mobile, autofocus: true, autocomplete: "email",class: "form-control ", id: "form3Example1m" %>
                      <label class="form-label" for="form3Example1m"><%= f.label :Mobile %></label>
                </div>


                <div class="d-md-flex justify-content-start">

                </div>

                <div class="form-outline mb-4">
                  <input type="datetime-local" id="form3Example9" class="form-control " />
                  <label class="form-label" for="form3Example9">DOB</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example99" class="form-control " />
                  <label class="form-label" for="form3Example99">Course</label>
                </div>

                <div class="form-outline mb-4">
                    <% if @minimum_password_length %>
                     <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password",class: "form-control ", id: "form3Example1m" %>
                    <label class="form-label" for="form3Example1m"><%= f.label :password %></label>
                </div>

                 <div class="form-outline mb-4">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control ", id: "form3Example1m" %>
                    <label class="form-label" for="form3Example1m"><%= f.label :password_confirmation %></label>
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button type="reset" class="btn btn-light btn-lg"><%= render "devise/shared/links" %></button>
                  <button type="reset" class="btn btn-light btn-lg">Reset all</button>
                 <%= f.submit "Sign up", class: "btn btn-warning btn-lg ms-2" %>
                </div>
           <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>           
    </div>
  </div>
</section>



<style >
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 10px;
}
</style>