
<%= form_with model: @pass, url: user_passes_path, method: :post do |form| %>
  <div>
    <%= form.label :blance %>
    <%= form.number_field :blance %>
  </div><br>
<div>
    <%= form.label :Check %>
    <%= form.check_box :check %>
  </div>
  <div>
    <%= form.submit %>
<% end %>




