<h1>Order Detils </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Price</th>
      <th>Quntity<th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_cards.each do |menu_card| %>
      <tr>
        <td><%= menu_card.name %></td>
        <td><%= menu_card.desc %></td>
        <td><%= menu_card.price %></td>
        <td><%= link_to 'Edit', edit_menu_card_path(menu_card) %></td>
        <td><%= link_to 'Destroy', menu_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Order Now', new_menu_card_user_order_path(menu_card.id,current_user)  %>
      </tr>
    <% end %>
  </tbody>
</table>
 </center>