<center >
<body >
  <div>
       <h2>Welcome To Apna Canteen</h2><br>
       <% if user_signed_in? %>
      <%= link_to 'Edit profile', edit_user_registration_path %> 
      <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
      <% end %>
       <br>
      <h4>
       Your Name:-  <strong><%= current_user.name %></strong><br>
     </h4> 
     <h4>Your Email:-  <strong><%= current_user.email %></strong></h4>

   <%if current_user.has_role? :admin %>
     <h5>You Are Admin</h5>
     <%= link_to "create Items ",  new_menu_card_path %><br>
      <%= link_to "Show orders",menu_card_user_orders_path(@menu_cards, current_user)  %><br>
     <% else %>
     <%= link_to "Show order",menu_card_user_orders_path(@menu_cards, current_user)  %><br>
     <% if current_user.pass.present? %>
       <%# debugger %>
         <%= link_to "Add Amount ",edit_user_pass_path(current_user, current_user.pass)%><br>
      <% else %>
         <%= link_to "create Pass ",  new_user_pass_path(current_user) %><br>
      <% end %>
    <% end %> 
       <% @passes.each do |pass|%>
          <h4>Current Blance: <%= pass.blance%></h4>
       <% end %>
      
  
  </div>
    <h1>Menu Cards</h1>

    </table>
     </center>
    <table class="table" >
      <thead>
         <%= render 'search_form.html.erb' %>
        <tr>
         <th scope="col"><%= sort_link(@q, :name,"Name", default_order: :asc)%></th>
          <th scope="col">Description</th>
          <th scope="col"><%= sort_link(@q, :price,"Price", default_order: :desc)%></th>
        <%if current_user.has_role? :admin %>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <% else %>
          <th scope="col">Order Now</th>
        <% end %>
          
        </tr>
      </thead>
      <tbody>
      <%  @menu_cards.each   do |menu_card| %>
        <tr>

          <td><%= menu_card.name %></td>
            <td><%= menu_card.desc %></td>
            <td><%= number_to_currency ( menu_card.price )%></td>

          <%if current_user.has_role? :admin %>
            <td><%= link_to 'Edit', edit_menu_card_path(menu_card),class: "btn btn-outline-warning" %></td>
            <td><%= button_to 'Destroy', menu_card, method: :delete, class: "btn btn-outline-danger" %></td>
            <% else %>
              <td><%= link_to 'Add To Cart', new_menu_card_user_order_path(menu_card.id,current_user),class: "btn btn-outline-primary"  %></td>
          <% end %>

           
        </tr>

       <% end %>
      </tbody>
    </div>
    </div>
    </table>
</body>


<!-- <style>
body {
  background-image: url(<%#= image_path('pexels.jpg')%>);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

</style> -->